<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <script src="https://unpkg.com/vue@3" defer></script>
    <script src="index.js" defer></script>
    <title>Document</title>
</head>

<body>
    <div id="app" class="contenedor">
        <h1 text="center">Plazo fijo</h1>
        <div>
            <input type="text" name="nombre" v-model="nombre" class="form-control form-control-lg"
                placeholder="Nombre" />
        </div>
        <div>
            <input type=" text" name="apellido" v-model="apellido" class="form-control form-control-lg"
                placeholder="Apellido" />
        </div>
        <div>
            <input type="number" name="monto" v-model="monto" class="form-control form-control-lg"
                placeholder="Monto" />
        </div>
        <select v-model="dias" name="select" class="form-select form-select-lg">
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="90">90</option>
            <option value="120">120</option>
            <option value="150">150</option>
            <option value="180">180</option>
            <option value="210">210</option>
            <option value="240">240</option>
            <option value="270">270</option>
            <option value="300">300</option>
            <option value="330">330</option>
            <option value="360">360</option>
        </select>
        <button v-on:click="invertir" class="btn btn-success btn-lg">Invertir</button>
        <button v-on:click="reinvertir" class="btn btn-warning btn-lg">Reinvertir</button>
        <button v-on:click="borrarDatos" class="btn btn-danger btn-lg">Borrar datos</button>
        <div class="row align-items-start">
            <div class="col">
                <span class="form-control form-control-lg" v-if=" this.resultado !==0">
                    La ganancia de la primera inversion es: {{this.montoFinal.toFixed(2)}}
                </span>
            </div>
            <div class="col">
                <span class="form-control form-control-lg" v-if=" this.gananciaFinal !==0">
                    El resultado de la reinversion es: {{this.gananciaFinal.toFixed(2)}}
                </span>
            </div>
        </div>

</body>

</html>